<head>
    <style>
        table{
            border-collapse: separate;
border-spacing: 100px 5px;
        }
        .subhead {
            width: 100%;
            margin-top: 10vh;
            border-radius: 10px;
            padding: 10px;
            color: black;
            font-size: 40px;
            text-align: center;
            background-color: lightsteelblue;
        }
        .jumbotron{
            background-color: lightsteelblue;
        }
        .btn
        {
            background-color: lightsteelblue;
            color: black;
            border-radius: 5px;
            display: inline;
            font-weight: bold;
        }
        .box {
            padding-left: 10px;
        }

        .border {
            padding-top: 20px;
            padding-left: 30px;
            padding-bottom: 20px;
            background-color: lightsteelblue;
            border-radius: 10px;
        }
        .footer{
            width: 100%;
            height: 100px;
            background-color: lightsteelblue;
            /* margin-left: 10px;
            margin-right: 10px; */
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        a{
            text-decoration: none;
            color: black;
        }
        a :hover{
            text-decoration: none;
            
            color: black;
        }
    </style>
</head>
<div class="jumbotron">
    <img src="/images/nitbanner.png" alt="NITS" height="180vh" width="1000vh" class="col-lg-12 col-md-12 col-sm-12">
</div>

<center>
    <div class="subhead col-lg-10 col-md-12 col-sm-12" id="headline">
        ADD PANEL
    </div>
</center>
<br><br><br>
<form method="post" action="/admins/superAdmin/addPanel">
    <div>
           <div>
               <label for="advNo">Advertisement No. :</label>
               <input type="text" id="advNo" name="advNo">
               <label for="postFor">Post for :</label>
               <input type="text" id="postFor" name="postFor">
               <label for="date">Date :</label>
               <input type="date" id="date" name="date">
               <label for="place">Place :</label>
               <input type="text" id="place" name="place">
           </div>

           <table>
               <tr>
                   <th>Sl No.</th>
                   <th>Name of the Expert</th>
                   <th>Designation</th>
                   <th>Affiliation</th>
                   <th>Contact Number</th>
                   <th>Email</th>
               </tr>
               <tr>
                   <td>1</td>
                   <td><input type="text" name="name1"></td>
                   <td><input type="text" name="designation1"></td>
                   <td><input type="text" name="affiliation1"></td>
                   <td><input type="number" name="contactNo1"></td>
                   <td><input type="text" name="email1"></td>
               </tr>
               <tr>
                    <td>2</td>
                    <td><input type="text" name="name2"></td>
                    <td><input type="text" name="designation2"></td>
                    <td><input type="text" name="affiliation2"></td>
                    <td><input type="number" name="contactNo2"></td>
                    <td><input type="text" name="email2"></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><input type="text" name="name3"></td>
                    <td><input type="text" name="designation3"></td>
                    <td><input type="text" name="affiliation3"></td>
                    <td><input type="number" name="contactNo3"></td>
                    <td><input type="text" name="email3"></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><input type="text" name="name4"></td>
                    <td><input type="text" name="designation4"></td>
                    <td><input type="text" name="affiliation4"></td>
                    <td><input type="number" name="contactNo4"></td>
                    <td><input type="text" name="email4"></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><input type="text" name="name5"></td>
                    <td><input type="text" name="designation5"></td>
                    <td><input type="text" name="affiliation5"></td>
                    <td><input type="number" name="contactNo5"></td>
                    <td><input type="text" name="email5"></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td><input type="text" name="name6"></td>
                    <td><input type="text" name="designation6"></td>
                    <td><input type="text" name="affiliation6"></td>
                    <td><input type="number" name="contactNo6"></td>
                    <td><input type="text" name="email6"></td>
                </tr>
           </table>
    </div>
    <button class="btn" type="submit">Add to expert's list</button>
    </form>
    <a class="btn" href="/admins/logout" class="btn btn-secondary">Logout</a>

    