<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="supernova"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="alternate" type="application/json+oembed" href="https://www.jotform.com/oembed/?format=json&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F90232336294454" title="oEmbed Form"><link rel="alternate" type="text/xml+oembed" href="https://www.jotform.com/oembed/?format=xml&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F90232336294454" title="oEmbed Form">
<meta property="og:title" content="ASSIST Form" >
<meta property="og:url" content="https://form.jotform.me/90232336294454" >
<meta property="og:description" content="Please click the link to complete this form.">
<link rel="shortcut icon" href="https://cdn.jotfor.ms/favicon.ico">
<link rel="canonical" href="https://form.jotform.me/90232336294454" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="HandheldFriendly" content="true" />
<title>ASSIST Form</title>
<link href="https://cdn.jotfor.ms/static/formCss.css?3.3.9608" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.9608" />
<link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.9608" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/themes/CSS/54a989fd25d79016278b4567.css?themeRevisionID=54bdcd58700cc404028b4567"/>
<style type="text/css">
    .form-label-left{
        width:150px;
    }
    .form-line{
        padding-top:0px;
        padding-bottom:0px;
    }
    .form-label-right{
        width:150px;
    }
    body, html{
        margin:0;
        padding:0;
        background:#ffffff;
    }

    .form-all{
        margin:0px auto;
        padding-top:0px;
        width:1000px;
        color:#ff7a0d !important;
        font-family:'Arial Black';
        font-size:15px;
    }
    .form-radio-item label, .form-checkbox-item label, .form-grading-label, .form-header{
        color: #0F0101;
    }

</style>

<style type="text/css" id="form-designer-style">
    /* Injected CSS Code */
@import "https://fonts.googleapis.com/css?family=Libre+Baskerville:light,lightitalic,normal,italic,bold,bolditalic";
@import url( //www.jotform.com/themes/css/pagebreaks/form-submit-button-flat_round_teal.css );
.form-all {
	font-family: "Tahoma", sans-serif;
}
.form-all {
	width: 100%; max-width: 1000px;
}
.form-label-left {
	width: 150px;
}
.form-label-right {
	width: 150px;
}
.form-label {
	white-space: normal;
}
.form-label-auto.form-label {
	width: 150px; text-align: left; float: left; display: inline-block;
}
.form-label-left {
	text-align: left; float: left; display: inline-block; white-space: normal;
}
.form-label-right {
	text-align: right; float: left; display: inline-block; white-space: normal;
}
.form-label-top {
	text-align: left; float: none; display: block; white-space: normal;
}
.form-all {
	font-size: 15px;
}
.form-label {
	font-weight: bold;
}
.form-checkbox-item label {
	font-weight: normal;
}
.form-radio-item label {
	font-weight: normal;
}
.supernova {
	background-color: rgb(255, 255, 255);
}
.supernova body {
	background-color: transparent;
}
@media screen and (min-width:480px)
{
.supernova .form-all {
	border: 1px solid rgb(230, 230, 230); border-image: none; box-shadow: 0px 3px 9px rgba(0,0,0,0.1); -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
}
}
@media screen and (max-width:480px)
{
.jotform-form {
	padding: 10px 0px;
}
}
@media screen and (max-width:768px) and (min-width:480px)
{
.jotform-form {
	padding: 30px 0px;
}
}
@media screen and (max-width:1024px) and (min-width:768px)
{
.jotform-form {
	padding: 60px 0px;
}
}
@media screen and (min-width:1024px)
{
.jotform-form {
	padding: 90px 0px;
}
}
.supernova .form-all {
	border: 1px solid transparent; border-image: none; background-color: rgb(255, 255, 255);
}
.form-all {
	border: 1px solid transparent; border-image: none; background-color: rgb(255, 255, 255);
}
.form-header-group {
	border-color: rgb(230, 230, 230);
}
.form-matrix-table tr {
	border-color: rgb(230, 230, 230);
}
.form-matrix-table tr:nth-child(2n) {
	background-color: rgb(242, 242, 242);
}
.form-all {
	color: rgb(15, 1, 1);
}
.form-header-group .form-header {
	color: rgb(15, 1, 1);
}
.form-header-group .form-subHeader {
	color: rgb(63, 4, 4);
}
.form-sub-label {
	color: rgb(63, 4, 4);
}
.form-label-top {
	color: rgb(15, 1, 1);
}
.form-label-left {
	color: rgb(15, 1, 1);
}
.form-label-right {
	color: rgb(15, 1, 1);
}
.form-html {
	color: rgb(15, 1, 1);
}
.form-checkbox-item label {
	color: rgb(63, 4, 4);
}
.form-radio-item label {
	color: rgb(63, 4, 4);
}
.form-line-active.form-line {
	transition-property: all; transition-duration: 0.3s; transition-timing-function: ease; background-color: rgb(255, 255, 224); -webkit-transition-property: all; -moz-transition-property: all; -o-transition-property: all; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; -webkit-transition-timing-function: ease; -moz-transition-timing-function: ease; -o-transition-timing-function: ease;
}
.form-radio-item {
	padding-bottom: 3px !important;
}
.form-checkbox-item {
	padding-bottom: 3px !important;
}
:last-child.form-radio-item {
	padding-bottom: 0px;
}
:last-child.form-checkbox-item {
	padding-bottom: 0px;
}
[data-type='control_radio'] .form-input {
	width: 100%; max-width: 400px;
}
[data-type='control_checkbox'] .form-input {
	width: 100%; max-width: 400px;
}
[data-type='control_radio'] .form-input-wide {
	width: 100%; max-width: 400px;
}
[data-type='control_checkbox'] .form-input-wide {
	width: 100%; max-width: 400px;
}
.form-radio-item {
	width: 100%; max-width: 400px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.form-checkbox-item {
	width: 100%; max-width: 400px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.form-radio-other-input.form-textbox {
	width: 80%; margin-left: 3%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.form-checkbox-other-input.form-textbox {
	width: 80%; margin-left: 3%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.form-multiple-column {
	width: 100%;
}
.form-multiple-column .form-radio-item {
	width: 10%;
}
.form-multiple-column .form-checkbox-item {
	width: 10%;
}
[data-columncount='1'].form-multiple-column .form-radio-item {
	width: 100%;
}
[data-columncount='1'].form-multiple-column .form-checkbox-item {
	width: 100%;
}
[data-columncount='2'].form-multiple-column .form-radio-item {
	width: 50%;
}
[data-columncount='2'].form-multiple-column .form-checkbox-item {
	width: 50%;
}
[data-columncount='3'].form-multiple-column .form-radio-item {
	width: 33.33%;
}
[data-columncount='3'].form-multiple-column .form-checkbox-item {
	width: 33.33%;
}
[data-columncount='4'].form-multiple-column .form-radio-item {
	width: 25%;
}
[data-columncount='4'].form-multiple-column .form-checkbox-item {
	width: 25%;
}
[data-columncount='5'].form-multiple-column .form-radio-item {
	width: 20%;
}
[data-columncount='5'].form-multiple-column .form-checkbox-item {
	width: 20%;
}
[data-columncount='6'].form-multiple-column .form-radio-item {
	width: 16.66%;
}
[data-columncount='6'].form-multiple-column .form-checkbox-item {
	width: 16.66%;
}
[data-columncount='7'].form-multiple-column .form-radio-item {
	width: 14.28%;
}
[data-columncount='7'].form-multiple-column .form-checkbox-item {
	width: 14.28%;
}
[data-columncount='8'].form-multiple-column .form-radio-item {
	width: 12.5%;
}
[data-columncount='8'].form-multiple-column .form-checkbox-item {
	width: 12.5%;
}
[data-columncount='9'].form-multiple-column .form-radio-item {
	width: 11.11%;
}
[data-columncount='9'].form-multiple-column .form-checkbox-item {
	width: 11.11%;
}
.form-single-column .form-checkbox-item {
	width: 100%;
}
.form-single-column .form-radio-item {
	width: 100%;
}
:not(#foo).form-radio-item {
	margin-bottom: 0px; position: relative;
}
:not(#foo).form-radio-item input[type='checkbox'] {
	display: none;
}
:not(#foo).form-radio-item input[type='radio'] {
	display: none;
}
:not(#foo).form-radio-item .form-radio-other {
	margin-top: 3px; margin-right: 3px; margin-left: 7px; display: inline-block !important;
}
:not(#foo).form-radio-item .form-checkbox-other {
	margin-top: 3px; margin-right: 3px; margin-left: 7px; display: inline-block !important;
}
:not(#foo).form-radio-item .form-checkbox-other-input {
	margin: 0px;
}
:not(#foo).form-radio-item .form-radio-other-input {
	margin: 0px;
}
:not(#foo).form-radio-item label {
	line-height: 18px; text-indent: 27px; margin-left: 0px; float: left;
}
:not(#foo).form-radio-item label::before {
	border-radius: 2px; left: 4px; width: 18px; height: 18px; margin-right: 4px; vertical-align: baseline; display: inline-block; position: absolute; cursor: pointer; content: ""; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
:not(#foo).form-radio-item label::after {
	left: 8px; top: 4px; width: 10px; height: 10px; display: inline-block; position: absolute; z-index: 10; content: ""; opacity: 0;
}
:not(#foo).form-radio-item input:checked + label::after {
	opacity: 1;
}
:not(#foo).form-radio-item label::before {
	border: 2px solid rgb(130, 130, 130); border-image: none; background-color: transparent;
}
:not(#foo).form-radio-item label::after {
	cursor: pointer; background-color: rgb(1, 9, 6);
}
:not(#foo).form-checkbox-item {
	margin-bottom: 0px; position: relative;
}
:not(#foo).form-checkbox-item input[type='checkbox'] {
	display: none;
}
:not(#foo).form-checkbox-item input[type='radio'] {
	display: none;
}
:not(#foo).form-checkbox-item .form-radio-other {
	margin-top: 3px; margin-right: 3px; margin-left: 7px; display: inline-block !important;
}
:not(#foo).form-checkbox-item .form-checkbox-other {
	margin-top: 3px; margin-right: 3px; margin-left: 7px; display: inline-block !important;
}
:not(#foo).form-checkbox-item .form-checkbox-other-input {
	margin: 0px;
}
:not(#foo).form-checkbox-item .form-radio-other-input {
	margin: 0px;
}
:not(#foo).form-checkbox-item label {
	line-height: 18px; text-indent: 27px; margin-left: 0px; float: left;
}
:not(#foo).form-checkbox-item label::before {
	border-radius: 2px; left: 4px; width: 18px; height: 18px; margin-right: 4px; vertical-align: baseline; display: inline-block; position: absolute; cursor: pointer; content: ""; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
:not(#foo).form-checkbox-item label::after {
	left: 10px; top: 6px; width: 4px; height: 4px; display: inline-block; position: absolute; z-index: 10; content: ""; opacity: 0;
}
:not(#foo).form-checkbox-item input:checked + label::after {
	opacity: 1;
}
:not(#foo).form-checkbox-item label::before {
	border: 2px solid rgb(130, 130, 130); border-image: none; background-color: transparent;
}
:not(#foo).form-checkbox-item label::after {
	box-shadow: 0px 3px 0px 0px #010906, 3px 3px 0px 0px #010906, 6px 3px 0px 0px #010906, 9px 3px 0px 0px #010906, 8px 6px 0px 0px #ffffff, 10px 1px 0px 0px #ffffff; transform: rotate(-45deg); background-color: rgb(1, 9, 6); -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg);
}
.supernova {
	background-position: top; height: 100%; background-attachment: fixed; background-repeat: no-repeat; background-size: cover;
}
.supernova {
	background-image: url("//www.jotform.com/uploads/clo1973/form_files/southernstudentsbackground2.jpg");
}
#stage {
	background-image: url("//www.jotform.com/uploads/clo1973/form_files/southernstudentsbackground2.jpg");
}
.form-all {
	background-position: top; background-attachment: scroll; background-repeat: repeat;
}
.form-header-group {
	background-position: top; background-attachment: scroll; background-repeat: no-repeat;
}
.form-line {
	margin-top: 0px; margin-bottom: 0px;
}
.form-line {
	padding: 0px 20px;
}
.form-all .form-textbox {
	border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.form-all .form-radio-other-input {
	border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.form-all .form-checkbox-other-input {
	border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.form-all .form-captcha input {
	border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.form-all .form-spinner input {
	border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.form-all .form-pagebreak-back {
	border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.form-all .form-pagebreak-next {
	border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.form-all .qq-upload-button {
	border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.form-all .form-error-message {
	border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.form-all .form-sub-label {
	margin-left: 3px;
}
.form-all .form-textarea {
	border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.form-all .form-submit-button {
	border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.form-all .form-submit-reset {
	border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.form-all .form-submit-print {
	border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.form-all .form-sub-label {
	margin-left: 3px;
}
.form-all .form-pagebreak-back {
	border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.form-all .form-pagebreak-next {
	border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.form-all .form-sub-label {
	margin-left: 3px;
}
.form-dropdown {
	margin: 0px; border-radius: 6px; -webkit-appearance: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -moz-appearance: button; appearance: none;
}
.form-all {
	border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
:first-child.form-section {
	border-radius: 6px 6px 0px 0px; -moz-border-radius: 6px 6px 0 0; -webkit-border-radius: 6px 6px 0 0;
}
:last-child.form-section {
	border-radius: 0px 0px 6px 6px; -moz-border-radius: 0 0 6px 6px; -webkit-border-radius: 0 0 6px 6px;
}
.form-all .qq-upload-button {
	padding: 9px 15px; font-family: "Tahoma", sans-serif; font-size: 20px; font-weight: normal;
}
.form-all .form-submit-button {
	padding: 9px 15px; font-family: "Tahoma", sans-serif; font-size: 20px; font-weight: normal;
}
.form-all .form-submit-reset {
	padding: 9px 15px; font-family: "Tahoma", sans-serif; font-size: 20px; font-weight: normal;
}
.form-all .form-submit-print {
	padding: 9px 15px; font-family: "Tahoma", sans-serif; font-size: 20px; font-weight: normal;
}
.form-all .qq-upload-button {
	color: rgb(255, 255, 255) !important;
}
.form-all .form-submit-button {
	color: rgb(255, 255, 255) !important;
}
.form-all .form-submit-reset {
	color: rgb(255, 255, 255) !important;
}
.form-all .form-submit-print {
	color: rgb(255, 255, 255) !important;
}
.form-all .form-pagebreak-back-container {
	width: 96px !important;
}
.form-all .form-pagebreak-next-container {
	width: 96px !important;
}
.form-all .form-pagebreak-back {
	padding: 9px 15px; border: 2px groove rgb(255, 255, 255) !important; border-image: none; width: 100%; font-family: "Arial #000000", sans-serif; font-size: 15px; font-weight: bolder;
}
.form-all .form-pagebreak-next {
	padding: 9px 15px; border: 2px groove rgb(255, 255, 255) !important; border-image: none; width: 100%; font-family: "Arial #000000", sans-serif; font-size: 15px; font-weight: bolder;
}
.form-all .form-pagebreak-back {
	background: rgb(24, 79, 44); color: rgb(255, 255, 255) !important; box-shadow: none; text-shadow: none;
}
.form-all .form-pagebreak-next {
	background: rgb(24, 79, 44); color: rgb(255, 255, 255) !important; box-shadow: none; text-shadow: none;
}
h2.form-header {
	line-height: 1.61em;
}
h2 ~ .form-subHeader {
	line-height: 1.5em;
}
.form-header-group {
	text-align: center;
}
.form-line {
	-ms-zoom: 1;
}
.form-line::before {
	line-height: 0; display: table; content: "";
}
.form-line::after {
	line-height: 0; display: table; content: "";
}
.form-line::after {
	clear: both;
}
.form-sub-label-container {
	margin-right: 0px; float: left; white-space: nowrap; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.form-sub-label-container .date-separate {
	visibility: hidden;
}
.form-captcha input {
	width: 450px;
}
.form-spinner input {
	width: 450px;
}
.form-textbox {
	width: 100%; max-width: 450px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.form-textarea {
	width: 100%; max-width: 450px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.form-input {
	width: 100%; max-width: 450px;
}
.form-address-table {
	width: 100%; max-width: 450px;
}
.form-matrix-table {
	width: 100%; max-width: 450px;
}
.form-radio-item {
	width: 100%; max-width: 450px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.form-checkbox-item {
	width: 100%; max-width: 450px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.form-radio-other-input.form-textbox {
	width: 80%; margin-left: 3%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.form-checkbox-other-input.form-textbox {
	width: 80%; margin-left: 3%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.form-multiple-column {
	width: 100%;
}
.form-multiple-column .form-radio-item {
	width: 10%;
}
.form-multiple-column .form-checkbox-item {
	width: 10%;
}
[data-columncount='1'].form-multiple-column .form-radio-item {
	width: 100%;
}
[data-columncount='1'].form-multiple-column .form-checkbox-item {
	width: 100%;
}
[data-columncount='2'].form-multiple-column .form-radio-item {
	width: 50%;
}
[data-columncount='2'].form-multiple-column .form-checkbox-item {
	width: 50%;
}
[data-columncount='3'].form-multiple-column .form-radio-item {
	width: 33.33%;
}
[data-columncount='3'].form-multiple-column .form-checkbox-item {
	width: 33.33%;
}
[data-columncount='4'].form-multiple-column .form-radio-item {
	width: 25%;
}
[data-columncount='4'].form-multiple-column .form-checkbox-item {
	width: 25%;
}
[data-columncount='5'].form-multiple-column .form-radio-item {
	width: 20%;
}
[data-columncount='5'].form-multiple-column .form-checkbox-item {
	width: 20%;
}
[data-columncount='6'].form-multiple-column .form-radio-item {
	width: 16.66%;
}
[data-columncount='6'].form-multiple-column .form-checkbox-item {
	width: 16.66%;
}
[data-columncount='7'].form-multiple-column .form-radio-item {
	width: 14.28%;
}
[data-columncount='7'].form-multiple-column .form-checkbox-item {
	width: 14.28%;
}
[data-columncount='8'].form-multiple-column .form-radio-item {
	width: 12.5%;
}
[data-columncount='8'].form-multiple-column .form-checkbox-item {
	width: 12.5%;
}
[data-columncount='9'].form-multiple-column .form-radio-item {
	width: 11.11%;
}
[data-columncount='9'].form-multiple-column .form-checkbox-item {
	width: 11.11%;
}
[data-type='control_dropdown'] .form-dropdown {
	width: 100% !important; max-width: 450px;
}
[data-type='control_fullname'] .form-sub-label-container {
	width: 48%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
[data-type='control_fullname'] :first-child.form-sub-label-container {
	margin-right: 4%;
}
[data-type='control_phone'] .form-sub-label-container {
	width: 65%;
}
[data-type='control_phone'] :first-child.form-sub-label-container {
	width: 32.5%; margin-right: 2.5%;
}
[data-type='control_birthdate'] .form-sub-label-container {
	width: 22%; margin-right: 3%;
}
[data-type='control_birthdate'] :first-child.form-sub-label-container {
	width: 50%;
}
[data-type='control_birthdate'] :last-child.form-sub-label-container {
	margin-right: 0px;
}
[data-type='control_birthdate'] .form-sub-label-container .form-dropdown {
	width: 100%;
}
[data-type='control_time'] .form-sub-label-container {
	width: 37%; margin-right: 3%;
}
[data-type='control_time'] :last-child.form-sub-label-container {
	width: 20%; margin-right: 0px;
}
[data-type='control_time'] .form-sub-label-container .form-dropdown {
	width: 100%;
}
[data-type='control_datetime'] .form-sub-label-container {
	width: 28%; margin-right: 4%;
}
[data-type='control_datetime'] :last-child.form-sub-label-container {
	width: 4%; margin-right: 0px;
}
[data-type='control_datetime'].allowTime .form-sub-label-container {
	width: 12%; margin-right: 3%;
}
[data-type='control_datetime'].allowTime :last-child.form-sub-label-container {
	width: 4%; margin-right: 0px;
}
[data-type='control_datetime'].allowTime span :first-child.form-sub-label-container {
	width: 3%;
}
[data-type='control_datetime'].allowTime span :last-child.form-sub-label-container {
	width: 12%; margin-right: 3%;
}
[data-type='control_datetime'].allowTime .form-dropdown {
	width: 100%;
}
[data-type='control_payment'] .form-sub-label-container {
	width: auto;
}
[data-type='control_payment'] .form-sub-label-container .form-dropdown {
	width: 100%;
}
.form-address-table td .form-dropdown {
	width: 100%;
}
.form-address-table td .form-sub-label-container {
	width: 96%;
}
.form-address-table td:last-child .form-sub-label-container {
	margin-left: 4%;
}
.form-address-table td[colspan='2'] .form-sub-label-container {
	margin: 0px; width: 100%;
}
.form-captcha input {
	padding: 4px 3px 2px;
}
.form-spinner input {
	padding: 4px 3px 2px;
}
.form-error-message {
	padding: 4px 3px 2px;
}
.form-header-group {
	font-family: "Libre Baskerville", serif;
}
.form-section {
	padding: 0px;
}
.form-header-group {
	margin: 12px 0px;
}
.form-header-group {
	padding: 24px 36px;
}
.form-header-group .form-header {
	color: rgb(255, 255, 255);
}
.form-header-group .form-subHeader {
	color: rgb(255, 255, 255);
}
.form-header-group {
	background-color: rgb(24, 79, 44);
}
.form-textbox {
	border-width: 2px; padding: 3px 0px 1px; color: rgba(1, 9, 6, 0.93);
}
.form-textarea {
	border-width: 2px; padding: 3px 0px 1px; color: rgba(1, 9, 6, 0.93);
}
.form-textbox {
	
}
.form-textarea {
	
}
.form-radio-other-input {
	
}
.form-checkbox-other-input {
	
}
.form-captcha input {
	
}
.form-spinner input {
	
}
.form-textbox {
	height: 30px;
}
.form-textarea {
	height: 60px;
}
.form-textbox {
	width: 100%; max-width: 450px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.form-textarea {
	width: 100%; max-width: 450px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
[data-type='control_textbox'] .form-input {
	width: 100%; max-width: 450px;
}
[data-type='control_textarea'] .form-input {
	width: 100%; max-width: 450px;
}
[data-type='control_fullname'] .form-input {
	width: 100%; max-width: 450px;
}
[data-type='control_phone'] .form-input {
	width: 100%; max-width: 450px;
}
[data-type='control_datetime'] .form-input {
	width: 100%; max-width: 450px;
}
[data-type='control_address'] .form-input {
	width: 100%; max-width: 450px;
}
[data-type='control_email'] .form-input {
	width: 100%; max-width: 450px;
}
[data-type='control_passwordbox'] .form-input {
	width: 100%; max-width: 450px;
}
[data-type='control_autocomp'] .form-input {
	width: 100%; max-width: 450px;
}
[data-type='control_textbox'] .form-input-wide {
	width: 100%; max-width: 450px;
}
[data-type='control_textarea'] .form-input-wide {
	width: 100%; max-width: 450px;
}
[data-type='control_fullname'] .form-input-wide {
	width: 100%; max-width: 450px;
}
[data-type='control_phone'] .form-input-wide {
	width: 100%; max-width: 450px;
}
[data-type='control_datetime'] .form-input-wide {
	width: 100%; max-width: 450px;
}
[data-type='control_address'] .form-input-wide {
	width: 100%; max-width: 450px;
}
[data-type='control_email'] .form-input-wide {
	width: 100%; max-width: 450px;
}
[data-type='control_passwordbox'] .form-input-wide {
	width: 100%; max-width: 450px;
}
[data-type='control_autocomp'] .form-input-wide {
	width: 100%; max-width: 450px;
}
[data-type='control_fullname'] .form-sub-label-container {
	width: 48%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
[data-type='control_fullname'] :first-child.form-sub-label-container {
	margin-right: 4%;
}
[data-type='control_phone'] .form-sub-label-container {
	width: 65%;
}
[data-type='control_phone'] :first-child.form-sub-label-container {
	width: 32.5%; margin-right: 2.5%;
}
[data-type='control_phone'] .form-sub-label-container .date-separate {
	visibility: hidden;
}
[data-type='control_datetime'] .form-sub-label-container {
	width: 28%; margin-right: 4%;
}
[data-type='control_datetime'] :last-child.form-sub-label-container {
	width: 4%; margin-right: 0px;
}
[data-type='control_datetime'] .form-sub-label-container .date-separate {
	visibility: hidden;
}
[data-type='control_datetime'].allowTime .form-sub-label-container {
	width: 12%; margin-right: 3%;
}
[data-type='control_datetime'].allowTime :last-child.form-sub-label-container {
	width: 4%; margin-right: 0px;
}
[data-type='control_datetime'].allowTime span :first-child.form-sub-label-container {
	width: 3%;
}
[data-type='control_datetime'].allowTime span :last-child.form-sub-label-container {
	width: 12%; margin-right: 3%;
}
[data-type='control_datetime'].allowTime .form-dropdown {
	width: 100%;
}
.form-matrix-table {
	width: 100%; max-width: 450px;
}
.form-address-table {
	width: 100%; max-width: 450px;
}
.form-address-table td .form-dropdown {
	width: 100%;
}
.form-address-table td .form-sub-label-container {
	width: 96%;
}
.form-address-table td:last-child .form-sub-label-container {
	margin-left: 4%;
}
.form-address-table td[colspan='2'] .form-sub-label-container {
	margin: 0px; width: 100%;
}
.form-dropdown {
	border-width: 12px; border-style: solid; height: 50px; -webkit-appearance: menulist-button;
}
[data-type='control_dropdown'] .form-input {
	width: 100%; max-width: 275px;
}
[data-type='control_birthdate'] .form-input {
	width: 100%; max-width: 275px;
}
[data-type='control_time'] .form-input {
	width: 100%; max-width: 275px;
}
[data-type='control_dropdown'] .form-input-wide {
	width: 100%; max-width: 275px;
}
[data-type='control_birthdate'] .form-input-wide {
	width: 100%; max-width: 275px;
}
[data-type='control_time'] .form-input-wide {
	width: 100%; max-width: 275px;
}
[data-type='control_dropdown'] .form-dropdown {
	width: 100% !important; max-width: 275px;
}
[data-type='control_birthdate'] .form-sub-label-container {
	width: 22%; margin-right: 3%;
}
[data-type='control_birthdate'] :first-child.form-sub-label-container {
	width: 50%;
}
[data-type='control_birthdate'] :last-child.form-sub-label-container {
	margin-right: 0px;
}
[data-type='control_birthdate'] .form-sub-label-container .form-dropdown {
	width: 100%;
}
[data-type='control_time'] .form-sub-label-container {
	width: 37%; margin-right: 3%;
}
[data-type='control_time'] :last-child.form-sub-label-container {
	width: 20%; margin-right: 0px;
}
[data-type='control_time'] .form-sub-label-container .form-dropdown {
	width: 100%;
}
.form-dropdown {
	border-width: 1px; border-color: rgb(166, 166, 166); margin: 0px; -webkit-appearance: menulist; -moz-appearance: menulist; appearance: menulist;
}
.form-buttons-wrapper {
	text-align: center !important; margin-left: 0px !important;
}
.form-pagebreak {
	text-align: left !important;
}
.form-pagebreak-back-container {
	float: none !important; display: inline-block !important;
}
.form-pagebreak-next-container {
	float: none !important; display: inline-block !important;
}
.form-label {
	margin-right: 0px; margin-bottom: 0px;
}
.form-label {
	font-family: "Tahoma", sans-serif;
}
li[data-type='control_image'] div {
	text-align: left;
}
li[data-type='control_image'] img {
	border-width: 0px !important; border-style: solid !important; border-color: currentColor; border-image: none;
}
.form-line-column {
	width: auto;
}
.form-line-error {
	box-shadow: inset 0px 3px 11px -7px #ff3200; background-color: rgb(255, 255, 255); -webkit-box-shadow: inset 0px 3px 11px -7px #ff3200; -moz-box-shadow: inset 0px 3px 11px -7px #ff3200;
}
.form-line-error input:not(#coupon-input) {
	border: 1px solid rgb(255, 244, 244); border-image: none; box-shadow: 0px 0px 3px #fff4f4; transition-property: none; transition-duration: 0.3s; transition-timing-function: ease; -webkit-box-shadow: 0 0 3px #fff4f4; -moz-box-shadow: 0 0 3px #fff4f4; -webkit-transition-property: none; -moz-transition-property: none; -o-transition-property: none; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; -webkit-transition-timing-function: ease; -moz-transition-timing-function: ease; -o-transition-timing-function: ease;
}
.form-line-error textarea {
	border: 1px solid rgb(255, 244, 244); border-image: none; box-shadow: 0px 0px 3px #fff4f4; transition-property: none; transition-duration: 0.3s; transition-timing-function: ease; -webkit-box-shadow: 0 0 3px #fff4f4; -moz-box-shadow: 0 0 3px #fff4f4; -webkit-transition-property: none; -moz-transition-property: none; -o-transition-property: none; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; -webkit-transition-timing-function: ease; -moz-transition-timing-function: ease; -o-transition-timing-function: ease;
}
.form-line-error .form-validation-error {
	border: 1px solid rgb(255, 244, 244); border-image: none; box-shadow: 0px 0px 3px #fff4f4; transition-property: none; transition-duration: 0.3s; transition-timing-function: ease; -webkit-box-shadow: 0 0 3px #fff4f4; -moz-box-shadow: 0 0 3px #fff4f4; -webkit-transition-property: none; -moz-transition-property: none; -o-transition-property: none; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; -webkit-transition-timing-function: ease; -moz-transition-timing-function: ease; -o-transition-timing-function: ease;
}
.form-line-error .form-error-message {
	background: rgb(255, 50, 0); margin: 0px; padding: 0px 5px; border-radius: 0px; top: 0px; right: 0px; bottom: auto; color: rgb(255, 255, 255); line-height: 20px; font-size: 10px; display: inline-block; position: absolute !important; min-width: 105px; box-shadow: none; -moz-border-radius: 0; -webkit-border-radius: 0;
}
.form-line-error .form-error-message img {
	display: none;
}
.form-line-error .form-error-message .form-error-arrow {
	display: none;
}
.ie-8 .form-all {
	margin-top: auto;
}
.ie-8 .form-all::before {
	display: none;
}
@media screen and (max-width:480px), screen and (orientation:portrait) and (max-device-width:768px), screen and (orientation:landscape) and (max-device-width:415px)
{
.jotform-form {
	padding: 0px;
}
.form-all {
	border: 0px currentColor; border-image: none; width: 100%;
}
.form-sub-label-container {
	margin: 0px; width: 100%;
}
.form-input {
	width: 100%;
}
.form-label {
	width: 100% !important;
}
.form-line {
	padding: 2% 5%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
input[type=text] {
	width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
input[type=email] {
	width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
input[type=tel] {
	width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
textarea {
	width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.form-input {
	
}
.form-input-wide {
	
}
.form-textarea {
	
}
.form-textbox {
	
}
.form-dropdown {
	
}
div.form-header-group {
	margin: 0px 12px 2% !important; padding: 24px 5% !important; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
[data-type='control_button'] {
	margin-bottom: 0px !important;
}
.form-buttons-wrapper {
	margin: 0px !important;
}
.form-buttons-wrapper button {
	width: 100%;
}
table {
	width: 100% !important;
}
table td + td {
	padding-left: 3%;
}
.form-checkbox-item input {
	width: auto;
}
.form-radio-item input {
	width: auto;
}
.form-collapse-table {
	margin: 0px 5%;
}
}

/*PREFERENCES STYLE*/
    .form-all {
      font-family: Arial Black, sans-serif;
    }
    .form-all .qq-upload-button,
    .form-all .form-submit-button,
    .form-all .form-submit-reset,
    .form-all .form-submit-print {
      font-family: Arial Black, sans-serif;
    }
    .form-all .form-pagebreak-back-container,
    .form-all .form-pagebreak-next-container {
      font-family: Arial Black, sans-serif;
    }
    .form-header-group {
      font-family: Arial Black, sans-serif;
    }
    .form-label {
      font-family: Arial Black, sans-serif;
    }
  
    .form-label.form-label-auto {
      
    display: inline-block;
    float: left;
    text-align: right;
  
    }
  
    .form-line {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  
    .form-all {
      width: 1000px;
    }
  
    .form-label-left,
    .form-label-right,
    .form-label-left.form-label-auto,
    .form-label-right.form-label-auto {
      width: 150px;
    }
  
    .form-all {
      font-size: 15px
    }
    .form-all .qq-upload-button,
    .form-all .qq-upload-button,
    .form-all .form-submit-button,
    .form-all .form-submit-reset,
    .form-all .form-submit-print {
      font-size: 15px
    }
    .form-all .form-pagebreak-back-container,
    .form-all .form-pagebreak-next-container {
      font-size: 15px
    }
  
    .supernova .form-all, .form-all {
      background-color: #ffffff;
      border: 1px solid transparent;
    }
  
    .form-all {
      color: #ff7a0d;
    }
    .form-header-group .form-header {
      color: rgb(255, 255, 255);
    }
    .form-header-group .form-subHeader {
      color: #ff7a0d;
    }
    .form-label-top,
    .form-label-left,
    .form-label-right,
    .form-html,
    .form-checkbox-item label,
    .form-radio-item label {
      color: #ff7a0d;
    }
    .form-sub-label {
      color: #ff9427;
    }
  
    .supernova {
      background-color: #ffffff;
    }
    .supernova body {
      background: transparent;
    }
  
    .form-textbox,
    .form-textarea,
    .form-radio-other-input,
    .form-checkbox-other-input,
    .form-captcha input,
    .form-spinner input {
      background-color: #ffffff;
    }
  
    .supernova {
      background-image: none;
    }
    #stage {
      background-image: none;
    }
  
    .form-all {
      background-image: none;
    }
  
  .ie-8 .form-all:before { display: none; }
  .ie-8 {
    margin-top: auto;
    margin-top: initial;
  }
  
  /*PREFERENCES STYLE*//*__INSPECT_SEPERATOR__*/
option {
    background : transparent !important;
}


    /* Injected CSS Code */
</style>

<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/responsive.css?3.3.9608" />
<script src="https://cdn.jotfor.ms/js/vendor/jquery-1.8.0.min.js?3.3.9608" type="text/javascript"></script>
<script src="https://cdn.jotfor.ms/js/vendor/autoFill.min.js?v=3.3.9608" type="text/javascript"></script>
<script src="https://cdn.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
<script src="https://cdn.jotfor.ms/static/jotform.forms.js?3.3.9608" type="text/javascript"></script>
<script type="text/javascript">
   JotForm.setConditions([{"action":[{"skipTo":"page-5"}],"id":"1425315676614","link":"Any","terms":[{"field":"293","operator":"equals","value":"No"}],"type":"page"}]);
	JotForm.init(function(){
	JotForm.clearFieldOnHide="disable";
      setTimeout(function() {
          JotForm.autoFillInitialize({"bindChange":"on","menu":"enable","timeout":"4","ttl":"2419200"});
      }, 10)
    /*INIT-END*/
	});

   JotForm.prepareCalculationsOnTheFly([null,null,null,null,null,null,null,null,null,null,{"name":"clickTo","qid":"10","text":"NATIONAL INSTITUTE OF TECHNOLOGY","type":"control_head"},{"name":"submit","qid":"11","text":"Submit","type":"control_button"},null,{"description":"","name":"chooseAdmin","qid":"13","subLabel":"","text":"Choose admin","type":"control_dropdown"},null,{"description":"","name":"typeA","qid":"15","subLabel":"","text":"Type a question","type":"control_textbox"},{"description":"","name":"typeA16","qid":"16","subLabel":"","text":"Type a question","type":"control_textbox"},{"name":"heading","qid":"17","text":"Admin Portal","type":"control_head"}]);
   setTimeout(function() {
JotForm.paymentExtrasOnTheFly([null,null,null,null,null,null,null,null,null,null,{"name":"clickTo","qid":"10","text":"NATIONAL INSTITUTE OF TECHNOLOGY","type":"control_head"},{"name":"submit","qid":"11","text":"Submit","type":"control_button"},null,{"description":"","name":"chooseAdmin","qid":"13","subLabel":"","text":"Choose admin","type":"control_dropdown"},null,{"description":"","name":"typeA","qid":"15","subLabel":"","text":"Type a question","type":"control_textbox"},{"description":"","name":"typeA16","qid":"16","subLabel":"","text":"Type a question","type":"control_textbox"},{"name":"heading","qid":"17","text":"Admin Portal","type":"control_head"}]);}, 20); 
</script>
</head>
<body>
<form class="jotform-form" action="/admins" method="post" name="form_90232336294454" id="90232336294454" accept-charset="utf-8">
  <input type="hidden" name="formID" value="90232336294454" />
  <div class="form-all">
    <ul class="form-section page-section">
      <li id="cid_10" class="form-input-wide" data-type="control_head">
        <div style="display:table;width:100%">
          <div class="form-header-group hasImage">
            <div class="header-logo">
              <img src="https://www.jotform.com/uploads/guest_90232495101043/form_files/nit%20logo_white%20_%20Orange.5c4994f5480755.20048621.png" alt="" width="100" class="header-logo-left" />
            </div>
            <div class="header-text httal htvam">
              <h1 id="header_10" class="form-header" data-component="header">
                NATIONAL INSTITUTE OF TECHNOLOGY
              </h1>
              <div id="subHeader_10" class="form-subHeader">
                SILCHAR - 788010(ASSAM)
              </div>
            </div>
          </div>
        </div>
      </li>
      <li id="cid_17" class="form-input-wide" data-type="control_head">
        <div class="form-header-group ">
          <div class="header-text httac htvam">
            <h2 id="header_17" class="form-header" data-component="header">
              Admin Portal
            </h2>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_dropdown" id="id_13">
        <label class="form-label form-label-right form-label-auto" id="label_13" for="input_13"> Choose admin </label>
        <div id="cid_13" class="form-input">
          <select class="form-dropdown" id="input_13" name="chooseAdmin" style="width:150px" data-component="dropdown">
            <option value="">  </option>
            <option value="super_admin"> Super Admin </option>
            <option value="establishment_admin"> Establishment Admin </option>
            <option value="department_admin"> Department Admin </option>
          </select>
        </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_15">
        <label class="form-label form-label-right form-label-auto" id="label_15" for="input_15"> Username </label>
        <div id="cid_15" class="form-input">
          <input type="text" id="input_15" name="email" data-type="input-textbox" class="form-textbox" size="20" value="" data-component="textbox" />
        </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_16">
        <label class="form-label form-label-right form-label-auto" id="label_16" for="input_16"> Password </label>
        <div id="cid_16" class="form-input">
          <input type="text" id="input_16" name="password" data-type="input-textbox" class="form-textbox" size="20" value="" data-component="textbox" />
        </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_11">
        <div id="cid_11" class="form-input-wide">
          <div style="margin-left:156px" class="form-buttons-wrapper">
            <button id="input_11" type="submit" class="form-submit-button" data-component="button">
              Submit
            </button>
          </div>
        </div>
      </li>
      <li style="display:none">
        Should be Empty:
        <input type="text" name="website" value="" />
      </li>
    </ul>
  </div>
  <script>
  JotForm.showJotFormPowered = "new_footer";
  </script>
  <input type="hidden" id="simple_spc" name="simple_spc" value="90232336294454" />
  <script type="text/javascript">
  document.getElementById("si" + "mple" + "_spc").value = "90232336294454-90232336294454";
  </script>
  <div class="formFooter-heightMask">
  </div>
  <div class="formFooter f6">
    <a href="https://www.jotform.com/pricing?utm_source=formfooter&utm_medium=banner&utm_term=90232336294454&utm_content=jotform_logo&utm_campaign=powered_by_jotform_le" target="_blank" class="formFooter-logoLink"><img class="formFooter-logo" src="https://cdn.jotfor.ms/assets/img/logo/logo-new@1x.png" alt="" style="height: 44px;"></a>
    <div class="formFooter-rightSide">
      <span class="formFooter-text">
        Now create your own JotForm - It's free!
      </span>
      <a class="formFooter-button" href="https://www.jotform.com/?utm_source=formfooter&utm_medium=banner&utm_term=90232336294454&utm_content=jotform_button&utm_campaign=powered_by_jotform_le" target="_blank">Create your own JotForm</a>
    </div>
  </div>
</form></body>
</html>
<script type="text/javascript">JotForm.ownerView=true;</script>