<p>please enter your email id</p>
<form action="/users/forgot" method="post">
    <input type="email" name="email" required>
    <label for="reset">Reset Password</label>
<button type="submit" id="reset">Reset</button>
</form>
