<h1>Your form ha s been submitted</h1>

<p>Branch name:</p> <p></p><%= body.branchName %></p>

<p><%= body.Xboard %></p>
<img src="<%= body.photo %>" alt="">

<button><a href="/pdf">download pdf</a></button>
