<h1 class="mt-4">HOD Admin Section</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<h2>Tick out the eligible ones</h2>
<form method="post" action="/admins/hodAdmin">
<% docs.forEach((doc) => { %>
    <input type="checkbox" name="<%= doc.userId %>" value="true" />
    <h3><%= doc.userId %></h3>
    <!-- <a href="/admins/<%= 
        doc._id 
        %>">view</a><br> -->
    <% }) %>
    <br><br>
    <p>Send list to the establishment section</p>
    <button type="submit">Submit</button>
</form>
<a href="/admins/logout" class="btn btn-secondary">Logout</a>
