<html>
<head>
	<title>Student Registration Form</title>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>

	<div class="main">
		ADVERTISEMENT NO. AND DATE:
		<input type="text" name="" style="margin-left: 10px;" />
		<br><br><br>

		<form action="">
			<fieldset>
				<legend>TRANSACTION DETAILS</legend><br><br>
				TRANSACTION ID
				<input type="text" name="" value="" style="margin-left: 121px;"><br><br>
				BANK NAME
				<input type="text" name="" value="" style="margin-left: 161px;"><br><br>
				BRANCH NAME
				<input type="" name="" style="margin-left: 136px;"><br><br>
				AMOUNT
				<input type="" name="" style="margin-left: 190px;"><br><br>
			</fieldset>
		</form>
		<button id="next1">NEXT</button>

	</div>



	<div class="page2">
		POST APPLIED FOR
		<select name="post" style="width: 200px;margin-left: 100px;">
			<option value="">job1</option>
			<option value="">job2</option>
		</select>
		<br><br><br>

		<form action="">
			<fieldset>
				<legend>PERSONAL DETAILS</legend><br><br>
				Name of Applicant
				<input type="" name="" value="" style="margin-left: 195px;"><br><br>
				Mother's Name
				<input type="text" name="" value="" style="margin-left: 218px;"><br><br>
				Father's Name
				<input type="" name="" style="margin-left: 224px;"><br><br>
				Residential Address
				<input type="" name="" style="margin-left: 190px;"><br><br>
				Residential Address
				<input type="" name="" style="margin-left: 190px;"><br><br>
				Email ID:
				<input type="email" name="email" style="margin-left: 271px;"><br><br>
				Mobile No.
				<input type="number" name="number" style="margin-left: 271px;"><br><br>
				Gender
				<input type="radio" name="gender" value="male" style="margin-left: 200px;" checked> Male
				<input type="radio" name="gender" value="female"> Female
				<input type="radio" name="gender" value="other"> Other<br><br>
				Date Of Birth 
				<input type="date" name="bday" style="margin-left: 200px;"><br><br>
				Age as on (30/11/2017)
				<input type="date" name="bday" style="margin-left: 160px;"><br><br>
				Marital Status:
				<input type="checkbox" name="" value="" style="margin-left: 150px;"> Married
				<input type="checkbox" name="" value=""> Unmarried<br><br>

				Category:
				<input type="radio" name="caste" value="" style="margin-left: 200px;" checked> SC
				<input type="radio" name="caste" value=""> ST
				<input type="radio" name="caste" value=""> OBC
				<input type="radio" name="caste" value=""> GEN
				<br><br>
				Whether Belongs to PWD
				<input type="radio" name="" value="" style="margin-left: 200px;" checked> Yes
				<input type="radio" name="" value=""> No<br><br>






			</fieldset>
		</form>
		<button id="prev1">PREV</button>

		<button id="next2">NEXT</button>

	</div>

	<div id="page3">
		<form>
			<fieldset>
				<legend>EDUCATIONAL QUALIFICATION</legend>
				<table class="EDUCATION">
					<tr>
						<td align="center"><b>Sl.No.</b></td>
						<td align="center"><b>Degree</b></td>
						<td align="center"><b>Name of Board/ University</b></td>
						<td align="center"><b>Branch / Specialization</b></td>
						<td align="center"><b>Year of completion</b></td>
						<td align="center"><b>Div. / Class</b></td>
						<td align="center"><b>%age of marks / CGPA /CPI</b></td>
					</tr>

					<tr>
						<td>1</td>
						<td>Class X</td>
						<td><input type="text" name="ClassX_Board" maxlength="30" /></td>
						<td><input type="text" name="ClassX_Percentage" maxlength="30" /></td>
						<td><input type="text" name="ClassX_YrOfPassing" maxlength="30" /></td>
						<td><input type="text" name="" maxlength="30" /></td>
						<td><input type="text" name="" maxlength="30" /></td>
					</tr>

					<tr>
						<td>2</td>
						<td>Class XII</td>
						<td><input type="text" name="ClassXII_Board" maxlength="30" /></td>
						<td><input type="text" name="ClassXII_Percentage" maxlength="30" /></td>
						<td><input type="text" name="ClassXII_YrOfPassing" maxlength="30" /></td>
						<td><input type="text" name="" maxlength="30" /></td>
						<td><input type="text" name="" maxlength="30" /></td>
					</tr>

					<tr>
						<td>3</td>
						<td>Graduation</td>
						<td><input type="text" name="Graduation_Board" maxlength="30" /></td>
						<td><input type="text" name="Graduation_Percentage" maxlength="30" /></td>
						<td><input type="text" name="Graduation_YrOfPassing" maxlength="30" /></td>
						<td><input type="text" name="" maxlength="30" /></td>
						<td><input type="text" name="" maxlength="30" /></td>
					</tr>

					<tr>
						<td>4</td>
						<td>Masters</td>
						<td><input type="text" name="Masters_Board" maxlength="30" /></td>
						<td><input type="text" name="Masters_Percentage" maxlength="30" /></td>
						<td><input type="text" name="Masters_YrOfPassing" maxlength="30" /></td>
						<td><input type="text" name="" maxlength="30" /></td>
						<td><input type="text" name="" maxlength="30" /></td>
					</tr>

					<tr>
						<td>5</td>
						<td>Ph.D.</td>
						<td><input type="text" name="Masters_Board" maxlength="30" /></td>
						<td><input type="text" name="Masters_Percentage" maxlength="30" /></td>
						<td><input type="text" name="Masters_YrOfPassing" maxlength="30" /></td>
						<td><input type="text" name="" maxlength="30" /></td>
						<td><input type="text" name="" maxlength="30" /></td>
					</tr>

					<tr>
						<td>6</td>
						<td>Others</td>
						<td><input type="text" name="Masters_Board" maxlength="30" /></td>
						<td><input type="text" name="Masters_Percentage" maxlength="30" /></td>
						<td><input type="text" name="Masters_YrOfPassing" maxlength="30" /></td>
						<td><input type="text" name="" maxlength="30" /></td>
						<td><input type="text" name="" maxlength="30" /></td>
					</tr>

					<tr>
						<td>7</td>
						<td>Title of Ph.D. Thesis</td>
						<td><input type="text" name="Masters_Board" maxlength="30"  /></td>
					</tr>


				</table>

			</td>
		</tr>
	</table>
</fieldset>

</form><br><br>

<form>
	<fieldset>
		<legend>EXPERIENCE</legend>
		<table class="experience">
			<tr>
				<td align="center" rowspan="2"><b>Sl.No.</b></td>
				<td align="center" rowspan="2" style="width: 100px"><b>Organisation</b></td>
				<td align="center" rowspan="2"><b>Designation</b></td>
				<td align="center" colspan="2"><b>Period(Date)</b></td>
				<td align="center" colspan="2"><b>Duration</b></td>
				<td align="center" rowspan="2"><b>Pay Scale</b></td>
			</tr>
			<tr>
				<td style="text-align: center;">From</td>
				<td style="text-align: center;">To</td>
				<td style="text-align: center;">Year</td>
				<td style="text-align: center;">Month</td>
			</tr>
			<tr>
				<td>1</td>
				<td><input type="text" name="ClassX_Board" maxlength="30" style="width: 100px;" /></td>
				<td><input type="text" name="ClassX_Percentage" maxlength="30"style="width: 100px;" /></td>
				<td><input type="text" name="ClassX_YrOfPassing" maxlength="30"style="width: 100px;" /></td>
				<td><input type="text" name="" maxlength="30"style="width: 100px;" /></td>
				<td><input type="text" name="" maxlength="30" style="width: 100px;"/></td>
				<td><input type="text" name="" maxlength="30"style="width: 100px;" /></td>
				<td><input type="text" name="" maxlength="30"style="width: 100px;" /></td>
			</tr>

			<tr>
				<td>2</td>
				<td><input type="text" name="ClassXII_Board" maxlength="30"style="width: 100px;" /></td>
				<td><input type="text" name="ClassXII_Percentage" maxlength="30"style="width: 100px;" /></td>
				<td><input type="text" name="ClassXII_YrOfPassing" maxlength="30"style="width: 100px;" /></td>
				<td><input type="text" name="" maxlength="30"style="width: 100px;" /></td>
				<td><input type="text" name="" maxlength="30"style="width: 100px;" /></td>
				<td><input type="text" name="" maxlength="30"style="width: 100px;" /></td>
				<td><input type="text" name="" maxlength="30"style="width: 100px;" /></td>
			</tr>

			<tr>
				<td>3</td>
				<td><input type="text" name="Graduation_Board" maxlength="30"style="width: 100px;" /></td>
				<td><input type="text" name="Graduation_Percentage" maxlength="30"style="width: 100px;" /></td>
				<td><input type="text" name="Graduation_YrOfPassing" maxlength="30"style="width: 100px;" /></td>
				<td><input type="text" name="" maxlength="30"style="width: 100px;" /></td>
				<td><input type="text" name="" maxlength="30"style="width: 100px;" /></td>
				<td><input type="text" name="" maxlength="30"style="width: 100px;" /></td>
				<td><input type="text" name="" maxlength="30" style="width: 100px;"/></td>
			</tr>

			<tr>
				<td>4</td>
				<td><input type="text" name="Masters_Board" maxlength="30" style="width: 100px;"/></td>
				<td><input type="text" name="Masters_Percentage" maxlength="30"style="width: 100px;" /></td>
				<td><input type="text" name="Masters_YrOfPassing" maxlength="30" style="width: 100px;"/></td>
				<td><input type="text" name="" maxlength="30" style="width: 100px;"/></td>
				<td><input type="text" name="" maxlength="30" style="width: 100px;"/></td>
				<td><input type="text" name="" maxlength="30"style="width: 100px;" /></td>
				<td><input type="text" name="" maxlength="30"style="width: 100px;" /></td>
			</tr>

			<tr>
				<td>5</td>
				<td><input type="text" name="Masters_Board" maxlength="30" style="width: 100px;"/></td>
				<td><input type="text" name="Masters_Percentage" maxlength="30" style="width: 100px;"/></td>
				<td><input type="text" name="Masters_YrOfPassing" maxlength="30" style="width: 100px;"/></td>
				<td><input type="text" name="" maxlength="30"style="width: 100px;" /></td>
				<td><input type="text" name="" maxlength="30" style="width: 100px;"/></td>
				<td><input type="text" name="" maxlength="30"style="width: 100px;" /></td>
				<td><input type="text" name="" maxlength="30" style="width: 100px;"/></td>
			</tr>

			<tr>
				<td>6</td>
				<td><input type="text" name="Masters_Board" maxlength="30"style="width: 100px;" /></td>
				<td><input type="text" name="Masters_Percentage" maxlength="30" style="width: 100px;"/></td>
				<td><input type="text" name="Masters_YrOfPassing" maxlength="30" style="width: 100px;"/></td>
				<td><input type="text" name="" maxlength="30"style="width: 100px;" /></td>
				<td><input type="text" name="" maxlength="30" style="width: 100px;"/></td>
				<td><input type="text" name="" maxlength="30"style="width: 100px;" /></td>
				<td><input type="text" name="" maxlength="30" style="width: 100px;"/></td>
			</tr>

			<tr>
			</tr>


		</table>

	</td>
</tr>
</table>
</fieldset>

</form>


<form>
	<fieldset>
		<legend>CERTIFICATES</legend>
		Birth Certificate: 
		<input type="file" name="pic" accept="image/*" style="margin-left: 110px;"><br><br>
		Xth Certificate: 
		<input type="file" name="pic" accept="image/*"  style="margin-left: 122px;"><br><br>
		XIIth Certificate: 
		<input type="file" name="pic" accept="image/*"  style="margin-left: 113px;"><br><br>
		Ph.D Certificate: 
		<input type="file" name="pic" accept="image/*"  style="margin-left: 108px;"><br><br>
		Passport Photo: 
		<input type="file" name="pic" accept="image/*"  style="margin-left: 110px;"><br><br>
		Signature:
		<input type="file" name="pic" accept="image/*"  style="margin-left: 150px;"><br><br>
		


		</table>
	</fieldset>
</form>

<button id="prev2">PREV</button>
<button id="Submit">SUBMIT</button>

</div>



<!----- Submit and Reset ------------------------------------------------->

</body>
</html>