body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'corbel', 'Times new roman', sans-serif;
    font-size: 20px;
}

.jumbotron {

    background-color: #ff3c00;
    border-radius: 0;
    text-align: center;
}

.subhead {
    width: 130vh;
    margin-top: 5vh;
    padding: 10px;
    color: white;
    font-size: 40px;
    text-align: center;
    background-color: #ff3c00;
    border-radius: 5px;
}

/* form {
    margin-left: 10vh;
} */
.btn {
    background-color: #ff3c00;
    color: white;
}

.footer {
    margin-top: 10vh;
    height: 15vh;
    background-color: #ff3c00;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

a {
    text-decoration: none;
    color: white;
}

a: hover {
    text-decoration: none;
    color: white;
}